
.assets-wrap {
  margin-bottom: 15px;
  .account-card-info {
    width: 100%;
    display: flex;
  }

  .add-account-btn {
    text-align: center;
    padding: 10px
  }
}

.main-content {
  width: 990px;
  margin: auto;
}

.index-card {
  width: 800px;
  margin: 100px auto;
}

.mainContent {
  color: #878d99;
  background-color: white;
  min-height: 800px;
}

.contentBody {
  padding: 20px;
}