extends ../../layout/index.pug

block head
    <link rel="stylesheet" href="//static.freelog.com/web-components/static/css/reset.css">
    <link rel="import" href="//static.freelog.com/web-components/lib/QI/index.html">
block body
    <freelog-lib-qi class="js-lib-qi"></freelog-lib-qi>
