extends ../../layout/index.pug

block head
    <link rel="stylesheet" href="#{htmlWebpackPlugin.options.assetsDomain}/pagebuild/static/css/reset.css">
    <link rel="stylesheet" href="#{htmlWebpackPlugin.options.assetsDomain}/pagebuild/app.css">
block body
    <freelog-lib-qi class="js-lib-qi"></freelog-lib-qi>
    <div class="page-container" id="js-page-container">
        <!--page build content-->
    </div>