extends ../../layout/index.pug

block head
    <link rel="stylesheet" href="//static.freelog.com/pagebuild/static/css/reset.css">
    <link rel="import" href="//static.freelog.com/pagebuild/lib/QI/index.html">
    <link rel="stylesheet" href="//static.freelog.com/pagebuild/app.css">
block body
    <freelog-lib-qi class="js-lib-qi"></freelog-lib-qi>
    <div class="page-container" id="js-page-container">
        <!--page build content-->
    </div>