extends ../../layout.pug

block head
    <link rel="stylesheet" href="http://static.freelog.com/web-components/static/css/reset.css">
    <link rel="import" href="http://static.freelog.com/web-components/lib/QI/index.html">
    <link rel="stylesheet" href="http://static.freelog.com/web-components/app.css">
    script.
        window.__auth_info__ = {"__auth_user_id__":10024,"__auth_node_id__":10013};

block body
    <freelog-lib-qi class="js-lib-qi"></freelog-lib-qi>
    <div class="page-container" id="js-page-container">
        <!--page build content-->
        <freelog-demo-navbar data-widget-src="224787e17fb58795e771d90c5a7c5d3fff5d8427" data-widget-config="{}" class="js-wc-widget" style="width:20%;position:fixed;height:100%;z-index:9;" data-widget-presentable-id="5a0d5b524a9fea0020d9ca45"></freelog-demo-navbar><freelog-demo-reveal data-widget-src="0a788dcff7daba1e01fbd2a2d83df503b6234997" data-widget-config="{}" class="js-wc-widget" style="position:absolute;width:80%;height:600px;right:0;" data-widget-presentable-id="5a0d5b4a4a9fea0020d9ca43"></freelog-demo-reveal><freelog-demo-markdownviewer data-widget-src="e4c5f834c5cc283fffd536ac2a0685217e6356f9" data-widget-config="{}" class="js-wc-widget" style="position:absolute;width:80%;right:0;" data-widget-presentable-id="5a0d5b594a9fea0020d9ca47"></freelog-demo-markdownviewer></div>
    </div>

block footer
    script
        include footer.js