extends ../../../layout.pug

block head
    <link rel="stylesheet" href="//static.freelog.com/web-components/static/css/reset.css">
    <link rel="import" href="//static.freelog.com/web-components/lib/QI/index.html">
    <link rel="stylesheet" href="//static.freelog.com/web-components/app.css">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    script.
        window.__auth_info__ = {"__auth_user_id__":10026,"__auth_node_id__":10015}
block body
    <freelog-lib-qi class="js-lib-qi"></freelog-lib-qi>
    <div class="page-container" id="js-page-container">
        <!--page build content-->
        <freelog-alpha-markdownviewer style="" data-href="/local/widgets/freelog-demo-markdownviewer.html"></freelog-alpha-markdownviewer>
    </div>


block footer
    script.
        window.onload = function(){
            var el = document.querySelector('[data-href]')
            var href = el.dataset.href
            var link = document.createElement('link')
            link.href=href
            link.rel='import'
            document.body.appendChild(link)
        <!--<link rel="import" href="/local/widgets/freelog-demo-markdownviewer.html">-->
        }
